@page "/gamesession/{gameId}"
@using Timers.Shared.ViewModels;
@using Timers.Shared.Services;
@inject GameService gameService

@if (game == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@game.HomeTeam.Name vs @game.VisitorTeam.Name</h1>
}

@functions {

    [Parameter] protected string gameId { get; set; }

    private GameVM game { get; set; }

    protected override async Task OnInitAsync()
    {
        game = await gameService.GetByIdAsync(new Guid(gameId));
    }
}