@page "/gamesession/{gameId}"

@using Timers.Shared.ViewModels;

@inject HttpClient Http

<h1> so far so good</h1>
@if (gameVM == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>@gameVM.HomeTeam.Name</h2>
}

@functions {

    [Parameter]
    private string gameId { get; set; }

    GameVM gameVM { get; set; }

    protected override async Task OnInitAsync()
    {
        //gameVM = new GameVM();
        gameVM = await Http.GetJsonAsync<GameVM>($"/api/game/Get/{gameId}");
    }
}